---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <a href="https://apollo.anu.edu.au/apollo/default.asp?pid=24765&script=true" target="_blank" class="print-button d-print-none">
    <i class="fas fa-vote-yea"></i> Vote
  </a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiOa9Ce0l4wmBOQvItpUWl-OH237nVPh-wByl36nm2Go97gA/viewform?usp=header" target="_blank" class="pdf-button d-print-none">
    <i class="fas fa-lightbulb"></i> Feedback for Council
  </a>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/pdf-generator.js"></script>
</body>

</html>